<nav class="navbar">

    <div class="logo">

        <h2>🌎 Countries Dashboard</h2>

    </div>

    <ul class="nav-links">

        <li>

            <a href="/api/paises/dashboard">

                Dashboard

            </a>

        </li>

        <li>

            <a href="/api/paises/agregar">

                Agregar País

            </a>

        </li>

        <li>

            <a href="/api/paises/ver">

                Ver JSON

            </a>

        </li>

        
    </ul>

</nav>