<!DOCTYPE html>
<html>

<head>

    <title>Acerca de</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<%- include('partials/navbar') %>

<h1>Acerca del Proyecto</h1>

<p>

    Proyecto Final Sprint 5

</p>

<p>

    Aplicación desarrollada con:

</p>

<ul>

    <li>Node.js</li>

    <li>Express</li>

    <li>MongoDB</li>

    <li>Mongoose</li>

    <li>EJS</li>

</ul>

<p>

    Autor: Gonzalo Gil Miranda

</p>

<p>

    Proyecto CRUD de países hispanoamericanos utilizando una API externa y MongoDB.

</p>

<p>

    GitHub:
    
    <a href="https://github.com/GonzaloGM-prog/Sprint5Final">


        Ver repositorio

    </a>

</p>

<%- include('partials/footer') %>

</body>
</html>